@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');


:root {
    --btn-background-color: #FF5400;
    --primary-text-color : #131318;
    --secondary-text-color : #5A5A5D;
    --first-text-color : #424247;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish';
}



        /************************ Header section start ************************/


        /*  *********************** Navbar section start ***********************  */

header {
    width: 82%;
    margin: 0 auto;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 42px 0;
}
.nav-name {
    display: flex;
    gap: .90rem;
    align-items: center;
}
.website-name {
    color: var(--primary-text-color);
    font-size: 1.875rem;
    font-weight: 800;
    
}
.vibes {
    color: var(--btn-background-color);
}
.nav-data ul {
    display: flex;
    gap: 2.25rem;
    list-style: none;
}
.nav-data a {
    color: var(--first-text-color);
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
}  
#home {
    color: var(--btn-background-color);
    font-weight: 700;
}      


        /*  *********************** Navbar section End ***********************  */


         /********************** Find-now section start **********************/ 
         


.find-now-container {
    height: 410px;
    text-align: center;
    border-radius: 13px;
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(B9A2-Hero-Travel/Images/Group-1.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.find-fix {
    width: 75%;

}  
.find-now-title {
    color: #FFF;
    font-size: 3.28rem;
    font-weight: 800;
}
.find-now-details {
    color: #FFF;
    font-size: .87rem;
    font-weight: 400;
    padding: 30px 0;
}       
.input-box {
    height: 43px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    border-radius: .5rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.30);
    
}
.input-btn {
    width: 150px;
    border-radius:.5rem ;
    border: none;
    background-color: var(--btn-background-color);
    font-size: 1rem;
    font-weight: 600;
    color: #FFF;
}
#package {
    width: 150px;
    border-radius:.5rem ;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--secondary-text-color);
}



         /********************** Find-now section end **********************/ 

    /************************ Header section End ************************/




       /************************ Main section start ************************/
 .main {
    width: 82%;
    margin: 0 auto;
 }

        /********************** Popular section start **********************/


.popular-container {
    margin: 82px 0 ;
    height: 450px;
    display: flex;
    justify-content: space-between;
}       
.popular-data {
    width: 48%;
}
.popular-pic {
    width: 48%;
    background-image: url(B9A2-Hero-Travel/Images/Rectangle-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    
}

.popular-title {
    color: var(--primary-text-color);
    font-size: 2rem;
    font-weight: 800;
}
.popular-details {
    color: var(--secondary-text-color);
    font-size: .87rem;
    font-weight: 400;
    padding: 12px 0;
}
.popular-btn {
    color: #FFF;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 800;
    background-color: var(--btn-background-color);
    padding: 12px 24px;
    border: none;
    border-radius: .6rem;
}
.popular-data li {
    color: var(--secondary-text-color);
    font-size: .87rem;
    font-weight: 400;
    padding: 6px 0 ;
}
.popular-data ul {
    padding-left: 15px;
}


        /********************** Popular section End **********************/


        /********************** destination section Start **********************/

.destination-container {
    width: 50%;
    text-align: center;
    margin: 82px auto 50px auto;
}
.destination-title {
    color: var(--primary-text-color);
    font-size: 2rem;
    font-weight: 800;
}  
.destination-details {
    color: var(--secondary-text-color);
    font-size: .87rem;
    font-weight: 400;
}  


                /* *************************** */


.gallary img {
    width: 100%;
}
.gallary-line1 {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.gallary-line2 {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    justify-content: space-evenly;
}
.gallary-line3 {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}
.overlay-box {
    position: relative;
}
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }


        /********************** destination section End **********************/



            /********************** Hwd section Start **********************/


.choose-container {
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: center;
}
.choose-title {
    color: var(--primary-text-color);
    font-size: 2rem;
    font-weight: 800;
    padding-bottom: 20px;
}
.choose-details {
    color: var(--secondary-text-color);
    font-size: .87rem;
    font-weight: 400;
}


                /* *******************************************   */

.hwd-container {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}
.hwd-box {
    height: 230px;
    background-color: rgba(139, 139, 139, 0.231);
    width: 48%;
    border-radius: 1rem;
}
.hwd-pic {
    padding: 25px;
}
.hwd-title {
    color: var(--primary-text-color);
    font-size: 1.23rem;
    font-weight: 800;
    padding: 0 25px;
}
.hwd-details {
    color: var(--secondary-text-color);
    font-size: .87rem;
    font-weight: 400;
    padding: 13px 25px 13px 25px;
}
.hwd-best {
    height: 230px;
    background-color: rgba(139, 139, 139, 0.231);
    width: 48%;
    border-radius: 1rem;
    margin: 20px auto;
}


        /********************** Hwd section End **********************/


         /********************** Deals section Start **********************/ 

.deals {
    margin-top: 80px;
}      
.deals-container {
    width: 50%;
    margin: 0 auto 20px auto;
    text-align: center;

}  
.deals-title {
    color: var(--primary-text-color);
    font-size: 2rem;
    font-weight: 800;
}   
.deals-details {
    color: var(--secondary-text-color);
    font-size: .87rem;
    font-weight: 400;
    padding: 20px 0;
}    


.dd3 {
    height: 410px;
    background-image: url(B9A2-Hero-Travel/Images/Group-39.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 1rem;
    display: flex;
    padding-right: 46px;
    justify-content: right;
    align-items: center;
}
.dd3-head {
    display: flex;
    gap: 1rem;
    padding:40px 40px 20px 40px;
}
.dd3-head p {
    color: var(--secondary-text-color);
    font-size: .87rem;
    font-weight: 400;    
}
.dd3-head i {
    color: var(--btn-background-color);
    font-size: 1.25rem;
}
.dd3-container {
    height: 318px;
    border-radius: 1rem;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    width: 45%;
}
.dd3-data {
    padding-left: 40px;
}
.dd3-title {
    color: var(--primary-text-color);
    font-size: 1.25rem;
    font-weight: 800;
}
.dd3-price {
    color: var(--btn-background-color);
    font-size: 1rem;
    font-weight: 800;
    padding-bottom: 20px;
}
.dd3-details {
    color: var(--secondary-text-color);
    font-size: .87rem;
    font-weight: 400;
    padding: 14px 0;
}
.dd3-btn {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    background-color: var(--btn-background-color);
    padding: 10px 20px;
    border: none;
    border-radius: .5rem;
}


.dd3-beta {
    height: 410px;
    background-image: url(B9A2-Hero-Travel/Images/Group-40.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 1rem;
    display: flex;
    padding-left: 46px;
    justify-content:left;
    align-items: center;   
}
.packages {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}
.packages-btn {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    background-color: var(--btn-background-color);
    padding: 10px 16px;
    border: none;
    border-radius: .5rem;  
}



        /********************** Deals section End **********************/

        /********************** Simple section Start **********************/


.simple-container {
    display: flex;
    justify-content: space-between;
    height: 350px;
    margin: 82px 0;
}        
.simple-data {
    width: 42%;
}
.simple-title {
    color: var(--primary-text-color);
    font-size: 2rem;
    font-weight: 800;
    padding-right: 100px;
}
.simple-details {
    color: var(--secondary-text-color);
    font-size: .87rem;
    font-weight: 400;
    padding: 18px 30px 18px 0;
}
.simple-data ul {
    padding-left: 15px;
    color: var(--primary-text-color);
    font-size: .87rem;
    font-weight: 700;
}
.simple-data li {
    padding-bottom: 18px;
    padding-right: 30px;
}
.simple-btn {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    background-color: var(--btn-background-color);
    padding: 10px 24px;
    border: none;
    border-radius: .5rem;
    
}
.simple-video {
    width: 55%;
    max-width: 500px;
}
.video-overlay {
    position: relative;
}


.simple-bd {
    width: 100%;
    border-radius: 1rem;
}


        /********************** Simple section End **********************/


        /********************** Newslater section Start **********************/



.newslatter-container {
    display: flex;
    justify-content: space-between;
    height: 345px;
    padding-bottom: 82px;
}
.newslatter-data {
    width: 45%;
    background-color: rgba(225, 225, 225, 0.858);
    border: 1px solid var(--btn-background-color);
    border-radius: 1rem;
}
.newslatter-pic {
    width: 53%;
    background-image: url(B9A2-Hero-Travel/Images/Rectangl-80.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 1rem ;
}


.save-up-box {
    height:100px;
    background-color: var(--btn-background-color);
    width: 50%;
    position: absolute;
    bottom: 60px; 
    border-radius: 1rem;
    right: 10px; 
    transform:  rotate(-25deg);
      
}
.save-up-box h2 {
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
    
}
.save-up-box h3 {
    color: #FFF;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400; 
    padding-top: 15px;    
}

.newslatter-title {
    color: var(--primary-text-color);
    font-size: 1.125rem;
    font-weight: 800;
    padding-bottom: 13px;
}
.newslatter-details {
    color: var(--secondary-text-color);
    font-size: .87rem;
    font-weight: 400;
    padding-bottom: 20px;
}
.newslatter-btn {
    color: #FFF;
    background-color: var(--btn-background-color);
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    height: 42px;
    width: 100%;
    border: none;
    border-radius: .5rem;
}
.data-2 {
    padding: 32px;
}
.data-2 p {
    padding-bottom: 20px ;
}
.data-input {
    height: 42px;
    width: 100%;
    color: var(--secondary-text-color);
    font-size: .87rem;
    font-weight: 400;
    border: none;
    border-radius: .5rem;  
}


        /******************** Newslatter section End ********************/

        /******************** Last section Start ********************/



.last-container {
    text-align: center;
    width: 50%;
    margin: 100px auto 0 auto;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(212, 203, 203, 0.783);
}
.last-box {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding-bottom: 12px;
}
.last-title {
    color: var(--primary-text-color);
    font-size: 1.67rem;
    font-weight: 800;  
}
.last-details {
    color: var(--secondary-text-color);
    font-size: .87rem;
    font-weight: 400; 
    padding-bottom: 25px;
}
.last-icon {
    display: flex;
    gap: 12px;
    justify-content: center;
    font-size: 1.5rem;
}


         /******************** Last section End ********************/

         /******************** Main section End ********************/

         /******************** Footer section Start ********************/


footer {
    height: 165px;
    text-align: center;
    color: var(--primary-text-color);
    font-size: .87rem;
    font-weight: 300;
    background-color: rgba(222, 222, 222, 0.518);
}
footer p {
    padding-top: 70px;
}

         /******************** Footer section End ********************/
